body {
  margin: 0;
}
html[data-theme="dark"] {
    --brightTextColor: #fff;
    --headerTextColor: #f3f3f3;
    --paragraphTextColor: #f6f6f6;
    --lightFadedTextColor: #7a7c7f;
    --fadedTextColor: #b8b8bd;
    --fadedTextHoverColor: #ccc;
    --extremelyFadedTextColor: #b8b8bd;
    --successTextColor: #777;
    --errorTextColor: #ec9d9d;
    --alertTextColor: #c9a61d;
    --purpleTextColor: #b485f9;
    --emphasisTextColor: #777;
    --whiteTextColor: #fff;
    --anchorColor: #6bb3dc;
    --anchorHoverColor: #3a95c9;
    --anchorPurpleColor: #999;
    --anchorPurpleHoverColor: #f3f3f3;
    --anchorLightBlueColor: #a3c5eb;
    --anchorLightBlueHoverColor: #649ddd;
    --disabledIconColor: #444;
    --iconFadedColor: #666;
    --iconGrayColor: #9fa0a5;
    --iconGrayMediumColor: #999;
    --iconGrayDarkColor: #b3b3b3;
    --iconGrayHoverColor: #ccc;
    --iconGrayDarkerColor: #777;
    --iconGrayBackground: #9c9c9c;
    --iconWhiteColor: #fff;
    --iconBlueColor: #3a95c9;
    --iconFadedBlue: #a3c5ff;
    --iconOrangeColor: #ed8002;
    --iconRedColor: #c33;
    --iconGreenColor: #13ae47;
    --iconPurpleColor: #b485f9;
    --iconYellowColor: #f7d964;
    --alertIconColor: #f7d964;
    --messageIconColor: #fffc;
    --hoverBorderColor: #3f4a5f;
    --mediumBorderColor: #ddd;
    --strongerBorderColor: #283040;
    --bitStrongerBorderColor: #666;
    --borderColor: #283040;
    --lightBorderColor: #283040;
    --focusedElementBorderColor: #2d78a4;
    --errorBorderColor: #ec9d9d;
    --borderHorizontalRule: grey;
    --borderDottedLine: #3f4a5f;
    --pageBackground: #0b101a;
    --detailsPageBlockBackground: #161b26;
    --blockBackground: #1f2532;
    --blockHoverBackground: #1f2532;
    --bluishBlockBackground: #1f2532;
    --greenishBlockBackground: #1f2532;
    --infoBackground: #333;
    --errorBackground: #ec9d9d;
    --highlightBackground: #fdf6d8;
    --blockQuoteBackgroundColor: #fdf6d8;
    --searchBackgroundColor: #1f2532;
    --searchActiveBackgroundColor: #161b26;
    --topNavBackgroundColor: #101010;
    --topNavLinkBackgroundColor: #222;
    --topNavLinkHoverBackgroundColor: #444;
    --topNavBorderColor: #555;
    --leftNavActiveBackgroundColor: #434452;
    --navBackgroundColor: #151e2d;
    --navTrialBackgroundColor: #000;
    --navLinkColor: #ffffff4d;
    --navLinkIconColor: #fff9;
    --navBadgeBackgroundColor: #f55;
    --progressStepBackgroundColor: #0b101a;
    --progressStepFinishedIconColor: #fff;
    --progressStepFinishedIconBackgroundColor: #58b1e4;
    --progressStepTextColor: #fff;
    --headerLinkColor: var(--navLinkIconColor);
    --profilePopoverBackground: #2d3545;
    --notificationCompletedBackgroundColorPulse: #555;
    --inlineValidationErrorBackground: #750000;
    --inlineValidationErrorBoxShadowColor: #750000;
    --inlineValidationErrorTextColor: #fce8e8;
    --inlineValidationErrorPlainTextColor: #ec9d9d;
    --progressBarBackground: #485575;
    --progressBarLabelColor: #73e298;
    --progressBarCompletedColor: #64a44c;
    --progressBarStartedColor: #aad19b;
    --progressBarUnstartedColor: #485575;
    --progressBarArchivedColor: #3f4a5f;
    --formFieldBackgroundColor: #2d3545;
    --formFieldDisabledBackgroundColor: #1f2532;
    --formFieldNoteBackgroundColor: #2d3545;
    --formFieldReadOnlyBackgroundColor: #1f2532;
    --formHelpMessageBackground: #0000;
    --formHelpMessageBorder: 1px solid #3a95c9;
    --formHelpSuccessBackgroundColor: #0000;
    --formHelpSuccessBorder: 1px solid #73e298;
    --formHelpWarningBackgroundColor: #0000;
    --formHelpWarningBorder: 1px solid #c9a61d;
    --formHelpPraiseBackground: #0000;
    --formHelpPraiseBorder: 1px solid #ec9d9d;
    --formHelpReferralBackground: #0000;
    --formHelpReferralBorder: 1px solid #6414db;
    --formHelpTrainingBackground: #0000;
    --formHelpTrainingBorder: 1px solid #cbf6d9;
    --brightButtonTextColor: #111;
    --activeButtonTextColor: #fff;
    --greenButtonBackgroundColor: #13ae47;
    --lightGrayButtonBackgroundColor: #1f2532;
    --lightGrayButtonTextColor: #ddd;
    --lightGrayButtonHoverBackgroundColor: #0b101a;
    --lightGrayButtonHoverTextColor: #f3f3f3;
    --lightGrayButtonActiveBackgroundColor: #1f2532;
    --whiteButtonBackgroundColor: #2d3545;
    --flatWhiteButtonHoverBackgroundColor: #1f2532;
    --flatButtonActiveBackgroundColor: #1f2532;
    --borderlessButtonBackgroundColor: #2d3545;
    --disabledButtonBackgroundColor: #1f2532;
    --brightWhiteButtonBackgroundColor: #161b26;
    --brightWhiteButtonHoverBackgroundColor: #999;
    --googleLoginBackground: #1f2532;
    --googleLoginHoverBackground: #1f2532;
    --googleLoginActiveBackground: #333;
    --lightBlueButtonBackground: #0d4cba;
    --lightBlueButtonHoverBackground: #0e50c3;
    --lightBlueButtonActiveBackground: #0c44a7;
    --grayBlueButtonColor: #0d4cba;
    --grayBlueButtonBackground: #d1dcf0;
    --grayBlueButtonHoverBackground: #c0cfea;
    --grayBlueButtonActiveBackground: #afc2e5;
    --blueButtonBackground: #0d4cba;
    --redButtonBackground: #a00808;
    --redButtonHoverBackground: #c33;
    --redButtonActiveBackground: #750000;
    --collaborationColor: #aad19b;
    --collaborationDisabledColor: #fff;
    --toggleButtonGutterBackground: #666;
    --toggleButtonGutterActiveBackground: #13ae47;
    --scrollbarColor: #283040;
    --scrollbarThumbColor: #2d3545;
    --scrollbarThumbColorElevated: #485575;
    --scrollbarThumbHoverColor: #3f4a5f;
    --storiesPageBackground: var(--pageBackground);
    --storiesPageSidebarBackground: var(--pageBackground);
    --storiesPageSidebarHoverBackground: #222;
    --storiesPageMobileSidebarBackground: #222;
    --columnStoryCountBackgroundColor: #161b26;
    --completedColumnDateBackgroundColor: #1f2532;
    --completedColumnDateTextColor: #f6f6f6;
    --storiesPageSidebarHeaderHoverBackgroundColor: #444;
    --storiesPageSidebarListItemTextColor: #b3b3b3;
    --storiesPageSidebarListItemHoverBackgroundColor: #444;
    --storiesPageSidebarListItemHoverTextColor: #f3f3f3;
    --storiesPageSidebarActiveSpaceTextColor: #f3f3f3;
    --storiesPageSidebarActiveFilterBackgroundColor: #463460;
    --storiesPageScrollbar: var(--pageBackground);
    --storiesPageScrollbarThumb: #323c53;
    --storyCardGutter: #00000014;
    --storyCardFeatureIdBadge: #99853317;
    --storyCardBugIdBadge: #eb474717;
    --storyCardChoreIdBadge: #3d81f51f;
    --storyCardFeatureIdColor: #c9bb82;
    --storyCardBugIdColor: #eb4747;
    --storyCardChoreIdColor: #9fadc6;
    --storiesPageColumnBucketScrollbarThumb: #0b101a;
    --storiesPageColumnBucketScrollbarThumbHover: #323c53;
    --storiesPageColumnBucketScrollbarThumbBorder: var(--storiesPageBackground);
    --storyAutoLinkBackgroundColor: #0000;
    --storyAutoLinkArchivedBackgroundColor: #283040;
    --storyAutoLinkFeatureTextColor: #fdfcf2;
    --storyAutoLinkFeatureBackgroundColor: #283040;
    --storyAutoLinkChoreTextColor: #eef0f4;
    --storyAutoLinkChoreBackgroundColor: #283040;
    --storyAutoLinkBugTextColor: #f7d6da;
    --storyAutoLinkBugBackgroundColor: #283040;
    --storyAutoLinkCompleteColor: #64a44c;
    --storyTextColor: #f3f3f3;
    --storyDialogSidebarBackground: #1f2532;
    --storyDialogArchiveBannerBackground: #555;
    --storyBadgeBackgroundColor: #ffffff0d;
    --storyBadgeAnnotationBackgroundColor: #ffffff1a;
    --storyDialogFooterBackground: #161b26f2;
    --commentBoxBackgroundColor: #1f2532;
    --commentBoxBorder: none;
    --commentBoxGhostTextColor: #999;
    --highlightedAnchorBackgroundColor: #1f2532;
    --storyAttributeHoverBackgroundColor: #1f2532;
    --storyBorderLeftWidth: 2px;
    --storyEntityTitleLinkColor: #b3b3b3;
    --storyEntityTitleLinkHoverColor: #ccc;
    --storyBackground: #1f2532;
    --storyHover: #1f2532;
    --blockerBackgroundColor: #c9a61d1a;
    --miniKanbanStoryBorderWidth: 3px;
    --miniKanbanColor: #444;
    --miniKanbanHoverColor: #555;
    --tabBackgroundColor: #1f2532;
    --tabHoverBackgroundColor: #3f4a5f;
    --tabActiveBackgroundColor: #364054;
    --tabCountBackgroundColor: #444;
    --tabActiveHoverBackgroundColor: #485575;
    --tagBackgroundColor: #283040;
    --tagTextColor: #ccc;
    --tableCellBackgroundColor: #222;
    --tableCellHoverBackgroundColor: #232323;
    --tableCellHeaderBackgroundColor: #364054;
    --tableCellHeaderHoverBackgroundColor: #666;
    --tableCellActiveHeaderBackgroundColor: #999;
    --tableCellActiveHoverHeaderBackgroundColor: #b3b3b3;
    --tableCellActiveBackgroundColor: #333;
    --tableCellSelectedBackgroundColor: #444;
    --tableCellSelectedActiveBackgroundColor: #474747;
    --tableCellSelectedHoverBackgroundColor: #474747;
    --tableCellSelectedActiveHoverBackgroundColor: #555;
    --tableCellPlaceholderBackgroundColor: #555;
    --listViewItemBackgroundHover: #333;
    --listViewArchivedItemBackground: #0000;
    --labelYellow: #c9a61d;
    --iconFlagColor: #b485f9;
    --iconFlagOutlined: #ebe1fa;
    --iconFlagCheckered: #ddd;
    --iconFlagCheckeredDarkBackground: #ddd;
    --iconFlagColorDarkBackground: #b485f9;
    --modalDialogOverlayBackground: #000000bf;
    --modalDialogBackgroundColor: #1f2532;
    --modalDialogContentBackgroundAccent: #555;
    --overlayText: #fff;
    --overlayHover: #00000080;
    --dropdownBackground: #2d3545;
    --dropdownSecondaryContentBackground: #555;
    --dropdownDisabledItemColor: #0000001f;
    --multiSelectDropdownSelectedItemBackground: #13ae47;
    --multiSelectDropdownSelectedItemBackgroundActive: #037228;
    --multiSelectDropdownSelectedItemColor: #fff;
    --navSearchActiveTextColor: #b485f9;
    --navSearchResultCountBackground: #555;
    --epicGuidanceBackgroundColor: #555;
    --datepickerPaginationBackgroundColor: #283040;
    --datepickerPaginationHoverBackgroundColor: #323c53;
    --datepickerCellBackgroundColor: #2d3545;
    --tooltipFadedContentsColor: #eee;
    --tooltipContentsColor: #ddd;
    --tooltipBrightText: #fff;
    --textDiffDelBackground: #333;
    --textDiffDelBorder: #a00808;
    --textDiffDelSpanBackground: #a0080866;
    --textDiffDelSpanText: #fce8e8;
    --textDiffInsBackground: #333;
    --textDiffInsBorder: #13ae47;
    --textDiffInsSpanBackground: #13ae4740;
    --textDiffInsSpanText: #f1fef5;
    --avatarBackground: #1f2532;
    --avatarRed33: #a00808b3;
    --avatarOrange47: #ed8002b3;
    --avatarYellow45: #c9a61db3;
    --avatarGreen23: #037228b3;
    --avatarGreen38: #13ae47b3;
    --avatarBlue39: #0d4cbab3;
    --avatarBlue64: #598feeb3;
    --avatarPurple47: #6414dbb3;
    --avatarPurple75: #b485f9b3;
    --avatarGray50: #808080b3;
    --avatarGray7: #111111b3;
    --loginPageBackground: #0b101a;
    --shimmerBackgroundOne: #333;
    --shimmerBackgroundTwo: #222;
    --addReactionBackgroundColor: #2d3545;
    --addReactionHoverBackgroundColor: #1f2532;
    --invertedImageFilter: invert(1) grayscale(1);
    --invertedIntegrationImageFilter: brightness(0) invert(1);
    --reportFeature: #e6d566;
    --reportBug: #df6878;
    --reportChore: #9bd0ef;
    --taggedTextColor: #f3f3f3;
    --taggedBackground: #555;
    --taggedBlue: #598fee99;
    --taggedGreen: #13ae4799;
    --taggedOrange: #ed800299;
    --taggedGray: #555;
    --taggedLightGray: #ccc9;
    --taggedPurple: #46346099;
    --taggedLightPurple: #b485f999;
    --taggedPurpleDefault: #6414db99;
    --taggedDarkDirtyPurple: #48485c99;
    --hljs-color01: #d7af5f;
    --hljs-color02: #5fafd7;
    --hljs-color03: #989898;
    --hljs-color04: #5faf5f;
    --hljs-color05: #afd700;
    --hljs-color06: #af87d7;
    --hljs-color07: #ffaf00;
    --hljs-color08: #ff5faf;
    --hljs-color09: #00afaf;
    --hljs-color10: #5f8787;
    --codeWeight: normal;
    --inlineCodeTextColor: var(--hljs-color08);
    --blockCodeTextColor: #b8b8bd;
    --codeBackgroundColor: #10141c;
    --codeBorderColor: #10141c;
    --codeLanguageTextColor: #e4e8eb;
    --codeLanguageBackgroundColor: #1f2532;
    --writeCodeBackgroundColor: #161b26;
    --writeCodeInlineBackgroundColor: #1f2532;
    --mentionNameBadgeBackground: #089136;
    --mentionNameBadgeColor: #73e298;
    --projectBadgeBackground: #555;
    --projectBadgeBorder: #777;
    --projectBadgeText: #fff;
    --groupIconFill: var(--iconPurpleColor);
    --writeBackgroundColor: #0b101a;
    --writeBorderColor: #3f4a5f;
    --writeMediumBorderColor: #444;
    --writeStrongBorderColor: #3f4a5f;
    --writeHeading: #f6f6f6;
    --writeSubText: #999;
    --writePurpleSubText: #ffffffb3;
    --writeDocSidebarBackground: #222;
    --writeToolbarBackgroundColor: #1f2532;
    --writeToolbarForegroundColor: #fff;
    --writeToolbarButtonBackground: #333;
    --writeToolbarButtonHoverBackground: #3f4a5f;
    --writeToolbarSplitButtonHoverBackground: #3f4a5f;
    --writeToolbarTriggerBackground: #1f2532;
    --writeToolbarTriggerColor: #999;
    --writeToolbarTriggerHoverColor: #9fa0a5;
    --writeGrayInfoBackgroundColor: #1f2532;
    --writeCaptionBackgroundColor: #0000;
    --writeCaptionTextColor: #b8b8bd;
    --writeCommentBackgroundColor: #191e28;
    --writeCommentRemoveBackgroundColor: #222;
    --writeCommentMetaData: #aaa;
    --writeCommentHighlightBackground: #1b1b1b;
    --writeCommentHighlightBackgroundHover: #50420c;
    --writeCommentHighlightBackgroundActive: #796411;
    --writeCommentHighlightBorder: #c9a61d;
    --writeCommentHighlightBorderActive: #c9a61d;
    --writeCommentHighlightText: #f6f6f6;
    --writeCommentHighlightTextActive: #f6f6f6;
    --writeCommentActiveBorder: #555;
    --writeCommentActiveSideBorder: #c9a61d;
    --writeWidgetOutlineBorder: #c9a61d;
    --writeGrayButtonBackgroundColor: #1f2532;
    --writeGrayButtonTextColor: #fff;
    --writePurpleButtonBackgroundColor: #6414db;
    --writePurpleButtonTextColor: #fff;
    --writeDocHighlightYellow: #957804;
    --writeDocHighlightPink: #8a4d4e;
    --writeDocHighlightGreen: #2d623f;
    --writeDocHighlightBlue: #082f72;
    --writeDocHighlightTextColor: #fff;
    --writeBuildLinkTextColor: #6414db;
    --writeAvatarBackground: #222;
    --writeGreen: #037228;
    --writeDelete: #c33;
    --write-copyUrlColor: #fff;
    --writeLinkArchivedIcon: grey;
    --writeLinkArchivedLink: grey;
    --writeLinkPrivateIcon: #999;
    --helpItemHoverBackground: #555;
    --dockItemBackgroundColor: #444;
    --dockItemTitleColor: #ddd;
    --dockItemStoryBugIconColor: #c33;
    --storiesSidebarShadow: 3px 0 5px 0 #00000029;
    --cardBoxShadow: 0px 0px 3px 1px #00000045;
    --storiesDialogBackgroundCanvas: #191e29;
    --secondaryButtonHover: #1f25324d;
    --sideDrawer: #1f2532;
    --knobBackground: #3c4861;
    --shapes-backgroundCanvas: #0b101a;
    --shapes-backgroundContent: #161b26;
    --shapes-backgroundTertiary: #1f2532;
    --shapes-backgroundTransient: #364054;
    --shapes-backgroundElevated: #2d3545;
    --shapes-backgroundElevatedSecondary: #2d3545;
    --shapes-borderMain: #283040;
    --shapes-borderSecondary: #283040;
    --shapes-borderInverted: #3f4a5f;
    --shapes-borderSucess: #aad19b;
    --shapes-errorDark: #c02a3b;
    --shapes-errorLight: #fcedef;
    --shapes-errorMain: #df6878;
    --shapes-iconMain: #9fa0a5;
    --shapes-iconInteractive: #3a95c9;
    --shapes-infoMain: #3a95c9;
    --shapes-infoLight: #eef7fc;
    --shapes-interactiveDark: #3a95c9;
    --shapes-interactiveHover: #1f2532;
    --shapes-interactiveHoverSecondary: #434452;
    --shapes-interactiveHoverElevated: #3f4a5f;
    --shapes-interactiveSelectedElevated: #485575;
    --shapes-interactiveLight: #deeffa;
    --shapes-interactiveMain: #6bb3dc;
    --shapes-interactivePressedPrimary: #286c94;
    --shapes-interactivePressedSecondary: #323c53;
    --shapes-interactiveSelected: #323c53;
    --shapes-navigationBackground: #0b101a;
    --shapes-navigationHighlight: #deeffa;
    --shapes-navigationInteractive: #161b26;
    --shapes-navigationSearch: #2d3545;
    --shapes-navigationSecondaryInteractive: #363e50;
    --shapes-pendingMain: #f69752;
    --shapes-primaryDark: #2d78a4;
    --shapes-primaryMain: #3a95c9;
    --shapes-shadowOne: 0px 2px 8px #0000001a,0px 1px 3px #0000003d;
    --shapes-shadowTwo: 0px 4px 12px #0000001a,0px 1px 9px #00000052;
    --shapes-successMain: #64a44c;
    --shapes-successLight: #558b41;
    --shapes-textDisabled: #9fa0a5;
    --shapes-textHighlight: #fff;
    --shapes-textLink: #9bd0ef;
    --shapes-textMain: #f6f6f6;
    --shapes-textSecondary: #b8b8bd;
    --shapes-tooltipBackground: #364054;
    --shapes-tooltipText: #fff;
    --shapes-warningDark: #ccba45;
    --shapes-warningMain: #e6d566;
    --shapes-warningLight: #fdfcf2;
    --shapes-backgroundShimmer: linear-gradient(160deg,#3a3750 -2.5%,#202a40 72.18%);
}
